<div class="container" id="info">
    
	<h2>INFORMATIONS COMPLEMENTAIRES</h2>
    
    <div class="contain">

        <div class="personnalite">
            <h3>Personnalité</h3>
            <ul>
              <li>Organisé</li>
              <li>Rigoureux</li>
              <li>Curieux</li>
              <li>Pugnace</li>
            </ul>
        </div>

        <div class="loisirs">
            <h3>Loisirs</h3>        

            <div class="pics">
              <div class="element">
                <h4>Musique</h4>
                <img src="./assets/images/musique.jpg" alt="">
              </div>
  
              <div class="element">
                <h4>Cinéma</h4>
                  <img src="./assets/images/cinema.jpg" alt="">
              </div>
  
              <div class="element">
                <h4>Sport</h4>
				          <img src="./assets/images/sport.jpg" alt="">
              </div>
            </div>
            
            <div id="carrousel" (mouseenter)="mouseGetInCarrousel('#carrousel')" (mouseleave)="mouseGetOUtCarrousel('#carrousel')">
				<div class="arrow left" id="#prev" (click)="prev()"><i class="fas fa-arrow-left"></i></div>

				<div id="carrousel_images">
                  
					<div id="picture1" class="picture active"></div>
					<div id="picture2" class="picture"></div>
					<div id="picture3" class="picture"></div>

					<div id="puces">
						<div class="puce puce_active" (click)="puce($event, 'picture1')"></div>
						<div class="puce" (click)="puce($event, 'picture2')"></div>
						<div class="puce" (click)="puce($event, 'picture3')"></div>                      
					</div>
				</div>
      
				<div class="arrow right" id="#next" (click)="next()"><i class="fas fa-arrow-right"></i></div>
            </div>

        </div>        
      
	</div>
	
</div>
