/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        top:80px;
        background-color: var(--backcolor3);;
        width:100%;
        font-family:  var(--policetext);
        
        .contain{
            color: var(--color0);
            text-align: center;
            color: var(--color0);
            margin:10px;

            .personnalite{                
               
                li{
                    position: relative;                    
                    margin-left:-40px;
                    list-style-type: none;
                    font-size: 20px; 
                }

            }            

        }

        .frameworks, .technologies, .autres{
            color: var(--color1);
        }
        
        h2{  
            padding:10px;          
            text-align: center;
            color: var(--color0);
            font-family:  var(--policetext);
            font-weight: 700;
            letter-spacing: 0.1rem;           
        }

        .loisirs>h3{
            color: var(--color0);
        }

        .element{
            color: var(--color0);
            text-align: center;
        }

        .element img{                        
            width: 60%;
            height: 5%;
        }

        #carrousel {
            visibility: hidden;
        }

    } 

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        top:80px;
        background-color: var(--backcolor3);;
        width:100%;
        font-family:  var(--policetext);
        
        .contain{
                       
            color: var(--color0);
            text-align: center;

            .personnalite{                
               
                li{
                    position: relative;                    
                    margin-left:-40px;
                    list-style-type: none;
                    font-size: 20px; 
                }

            }
             
        }
                
        h2{            
            text-align: center;
            color: var(--color0);
            font-family:  var(--policetext);
            font-weight: 700;          
        }

        
        .pics{
            visibility: hidden;
            display:none;            
        }

        .loisirs>h3{
            color: var(--color0);
        }

        
        #carrousel {
            position: relative;
            margin-left:30%;
            width: 40%;
                        
            .arrow {
                position: absolute;
                font-size: 32px;
                top: calc(50% - 18px);
                color: var(--arrowhover);
                cursor: pointer;
                opacity: 0.5;
                transition: all 0.2s;
            }

            .arrow:hover {
                opacity: 1;
            }

            .arrow.left {
                left: 10px
            }

            .arrow.right {
                right: 10px;
            }

            #carrousel_images {
                width: 40vw;
                height: 35vh;
                margin:0 auto;
                overflow: hidden;
            }

            .picture {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                display: none;
            }

            .picture.active {
                display: block;
            }

            .picture.transition {
                transform: translateZ(-100%);
            }

            #picture1 {
                background-image: url('../../assets/images/musique.jpg');
            }

            #picture2 { 
                background-image: url('../../assets/images/cinema.jpg');
            }

            #picture3 {
                background-image: url('../../assets/images/sport.jpg');
            }

            #puces {
                position: absolute;
                bottom: 10%;
                display: flex;
                left: 50%;
                transform: translateX( -50% );               
            }

            .puce {
                margin:0px 10px;
                padding: 5px;
                background-color: black;                
                border-radius: 50%;
                border: 2px solid rgb(196, 207, 255);
                cursor: pointer;
            }

            .puce:hover, .puce.puce_active {
                background-color: grey;
            }            
            
        }

    }
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        top:80px;
        background-color: var(--backcolor3);;
        width:100%;
        font-family:  var(--policetext);
        
        .contain{                       
            color: var(--color0);
            text-align: center;

            .personnalite{                
               
                li{
                    position: relative;                    
                    margin-left:-40px;
                    list-style-type: none;
                    font-size: 20px; 
                }
            }
             
        }
                
        h2{            
            text-align: center;
            color: var(--color0);
            font-family:  var(--policetext);
            font-weight: 700;          
        }

        
        .pics{
            visibility: hidden;
            display:none;            
        }

        .loisirs>h3{
            color: var(--color0);
        }

        
        #carrousel {
            position: relative;
            margin-left:30%;
            width: 40%;
                        
            .arrow {
                position: absolute;
                font-size: 32px;
                top: calc(50% - 18px);
                color: var(--arrowhover);
                cursor: pointer;
                opacity: 0.5;
                transition: all 0.2s;
            }

            .arrow:hover {
                opacity: 1;
            }

            .arrow.left {
                left: 10px
            }

            .arrow.right {
                right: 10px;
            }

            #carrousel_images {
                width: 40vw;
                height: 35vh;
                margin:0 auto;
                overflow: hidden;
            }

            .picture {
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                display: none;
            }

            .picture.active {
                display: block;
            }

            .picture.transition {
                transform: translateZ(-100%);
            }

            #picture1 {
                background-image: url('../../assets/images/musique.jpg');
            }

            #picture2 { 
                background-image: url('../../assets/images/cinema.jpg');
            }

            #picture3 {
                background-image: url('../../assets/images/sport.jpg');
            }

            #puces {
                position: absolute;
                bottom: 10%;
                display: flex;
                left: 50%;
                transform: translateX( -50% );               
            }

            .puce {
                margin:0px 10px;
                padding: 5px;
                background-color: black;                
                border-radius: 50%;
                border: 2px solid rgb(196, 207, 255);
                cursor: pointer;
            }

            .puce:hover, .puce.puce_active {
                background-color: grey;
            }            
            
        }

    }
    
}