/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--backcolor4);
        margin-top: 83px;
        width:100%;        
        font-family:  var(--policetext);

        .social {
            display:none;       
        }

        .informations {

            .mail {
                padding-bottom: 10px;
            }

            .mail a:link{                    
                color: var(--color2);                
            }

            h5 {
                margin: 0px;
            }

            h4{
                margin: 0px;
                padding-bottom: 10px;
            }

            p {
                margin: 0px;
                padding-bottom: 10px;
            }

        }   
     
    }    

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {        
        display: flex;
        justify-content: space-around;       
        align-items: center;
        background-color: var(--backcolor4);
        margin-top: 83px;
        width:100%;        
        font-family:  var(--policetext);

        #copyright {            

            .social {
                display: flex;
                justify-content: space-between;
                width: 100px;
            }            

        }

        .informations {

            padding:10px;

            .mail {
                padding-bottom: 10px;
            }

            .mail a:link{                    
                color: var(--color2);                
            }

            h5 {
                margin: 0px;
            }

            h4{
                margin: 0px;
                padding-bottom: 10px;
            }

            p {
                margin: 0px;
                padding-bottom: 10px;
            }

        }    
     
    }
    
}


/* 991px et plus */

@media ( min-width: 991px ){
    
    .container {        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-end;        
        background-color: var(--backcolor4);
        margin-top: 83px;
        width:100%;
        height: 15%;        
        font-family:  var(--policetext);

        #copyright {            

            .social {
                display: flex;
                justify-content: space-between;
                width: 100px;
            }            

        }

        .informations {
            display: flex;
            padding:10px;            

            .mail {
                padding-bottom: 10px;
                padding-right: 10px;
            }

            .mail a:link{                    
                color: var(--color2);                
            }

            h5 {
                margin: 0px;
            }

            h4{
                margin: 0px;
                padding-bottom: 10px;
                padding-right: 10px;
            }

            p {
                margin: 0px;
                padding-bottom: 10px;
                padding-right: 10px;
            }

        }   
     
    }  
    
}