<div id="footer" class="container"> 
  
	<div id="copyright">
		<p>@Copyright</p>
		<div class="social">
			<a href="https://www.linkedin.com/in/vales-mikael-408252120" target="_blank"><i class="fab fa-linkedin fa-3x" style="color:#3f51b5"></i></a>
			<a href="https://www.facebook.com/donnie.lee.14418" target="_blank"><i class="fab fa-facebook-square fa-3x" style="color:#3f51b5"></i></a>
		</div>
	</div>

	<div class="informations">
		<h4>Mikaël VALES</h4>		
				
		<h5>Age:</h5>
		<p>41 ans</p>
		
		<h5>Adresse:</h5>
		<p>8 rue Lucie Aubrac, 66570 Saint-Nazaire</p>	
				
		<h5>Tél portable:</h5>
		<p>06.51.08.01.07</p>
		
		<h5>E-mail:</h5>
		<div class="mail">
			<a href="mailto:valesmikael@gmail.com">valesmikael@gmail.com</a>
		</div>
				

		<div class="locomotion">
			<p>Permis B + véhicule</p>	 
		</div>
				
	</div>

</div>

