<div class="container" id="about">
  
    <h2>A propos</h2>
    
    <p>Autodidacte, j'ai voulu approfondir mes connaissances en passant par une formation qualifiante enseignée par des professionnels du développement web.
       C'est donc naturellement que je me suis orienté vers<strong> "l'IDEM_LE SOLER"</strong>,
      chez qui j'ai pu suivre des cours ciblés et structurés.<br>Perfectionniste, la satisfaction client
       est pour moi l'un des points essentiels lors d'un projet.
    </p>

    <div class="cv">
      <a href="./assets/images/cv_mikael_vales.pdf" target="blank">CV pdf</a>
    </div>

</div>
