/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;        
        background-color: var(--backcolor1);
        padding-bottom: 40px;
        margin: 0px;
        font-family:  var(--policetext);
        width: 100%;

        .cv{
            position: relative;
            margin: 20px;
            
                                    
            a{
                padding-top: 5px;
                padding-right: 20px;
                padding-bottom: 5px;
                padding-left: 20px;                
                background-color: var(--backcolor3);
                color:var(--color0);
                text-decoration: none;
                font-size: 1.5em;
                font-family:  var(--policetext);
                border-radius: 2px;
                font-family: var(--policetext)
            }
        }

        h2{
            font-weight: 900px;
            color:var(--color4);
        }

        p{
            text-align: left;
            color:var(--color4);
            margin:0;
            padding:10px;
        }
        
    }   

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--backcolor1);        
        padding: 10px;
        padding-bottom: 40px;
        margin: 0px;
        font-family:  var(--policetext);

        .cv{
            position: relative;
            margin: 20px;
            
                                    
            a{
                padding-top: 5px;
                padding-right: 50px;
                padding-bottom: 5px;
                padding-left: 50px;                
                background-color: var(--backcolor3);
                color:var(--color0);
                text-decoration: none;
                font-size: 1.5em;
                font-family:  var(--policetext);
                border-radius: 2px;
                font-family: var(--policetext)
            }
        }

        h2{
            font-weight: 900px;
            color:var(--color4);
        }

        p{
            text-align: left;
            color:var(--color4);
        }
        
    }   
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top:80px;
        background-color: var(--backcolor1);        
        padding: 10px;
        margin: 0px;
        font-family: var(--policetext);

        .cv{
            position: relative;
            margin: 20px;
            
                                    
            a{
                padding-top: 5px;
                padding-right: 50px;
                padding-bottom: 5px;
                padding-left: 50px;                
                background-color: var(--backcolor3);
                color:var(--color0);
                text-decoration: none;
                font-size: 1.5em;
                font-family:  var(--policetext);
                border-radius: 2px;
                font-family: var(--policetext)
            }
        }

        h2{
            font-weight: 900px;
            color:var(--color4);
        }

        p{
            width:60%;
            text-align: left;
            color:var(--color4);
        }
        
    }   
    
}