/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        background-color: var(--backcolor1);
        width:100%;        
        font-family:  Helvetica,Arial, sans-serif;

        hr {
            width:60%;
            border:solid 1px;
            color:var(--backcolor3);
        }

        a {
            color:var(--color4);
        }

        h2 { 
              
            width: 100%;                       
            text-align: center;
            color: var(--color1);            
            font-weight: 700;
            letter-spacing: 0rem;
        }

        h3 {
            margin:10px;
        }

        .element {
            text-align: center;
            color: var(--color4);

            span{
                color: var(--color4); 
            }

            strong{
                color: var(--color2); 
            }
        }

        p{
            padding:10px;
        }

        .element p:first-child {
            font-size: 1.33em;
            font-weight: 700;
            color: var(--color4);
        }

        .element p:last-child {
            margin:20px;
            text-align: left;
            color: var(--color4);                      
        } 
        
        .child_element p:last-child {
            margin:20px;
            text-align: center;
            color: var(--color4);            
        }
     
    }    

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        background-color: var(--backcolor1);
        width:100%;
        font-family:  Helvetica,Arial, sans-serif;

        hr {
            width:60%;
            border:solid 1px;
            color:var(--backcolor3);
        }

        a {
            color:var(--color4);
        }

        h2 {            
            text-align: center;
            color: var(--color1);            
            font-weight: 700;             
        }

        h3 {
            margin:10px;
            color: var(--color4);
        }

        .element {
            text-align: center;

            span{
                color: var(--color4); 
            }

            strong{
                color: var(--color2); 
            }
        }

        .element p:first-child {
            font-size: 1.33em;
            font-weight: 700;
            color: var(--color4);
        }

        .element p:last-child {
            margin:20px;
            text-align: left;
            color: var(--color4);                      
        } 
        
        .child_element p:last-child {
            margin:20px;
            text-align: center;
            color: var(--color4);            
        }
     
    }   
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        top:80px;
        background-color: var(--backcolor1);
        width:100%;
        font-family:  Helvetica,Arial, sans-serif;

        hr {
            width:60%;
            border:solid 1px;
            color:var(--backcolor3);
        }

        a {
            color:var(--color4);
        }

        h2 {            
            text-align: center;
            color: var(--color1);            
            font-weight: 700;             
        }

        h3 {
            margin:10px;
            color: var(--color4);
        }

        .element {
            text-align: center;            

            span{
                color: var(--color4); 
            }

            strong{
                color: var(--color2); 
            }

        }

        .element p:first-child {            
            font-size: 1.33em;
            font-weight: 700;
            color: var(--color4);
            justify-content: center;            
        }

        .element p:last-child {            
            margin-left: 20%;
            margin-right: 20%;
            text-align: left;
            color: var(--color4);                      
        } 
        
        .child_element p:last-child {            
            margin:20px;
            text-align: center;
            color: var(--color4);            
        }
     
    }   
    
}