<div id="experience" class="container">
    
        <h2>EXPERIENCES PROFESSIONNELLES</h2>
    
    <div class="contain">
        <div class="element attraptemps">
            <p>2019</p>
            <h3><a href="https://www.attraptemps.fr/" target="blank">Agence de communication Attraptemps (66)</a></h3>
            <p>Mission de courte durée qui avait pour but la<span><strong> refonte du site </strong>de la société.
            Utilisation du cms "Wordpress" et du plugin "ACF"( thème enfant, custome post type,..)</span>                
            </p>
        </div>
        <hr>

        <div class="element idem">
            <p>2018-2019</p>
            <h3><a href="https://lidem.eu/" target="blank">L'IDEM LE SOLER (66)</a></h3>
            <p>Durant ma période de formation, j'ai appri à développer: <span><strong>une todo liste, 
                un forum , une mini boutique, nous avons réalisé un Airbnb, créé un site web (vitrine) 
                méthode mobile first ainsi que des applicatifs web.</strong></span>                
            </p>
        </div>
        <hr>

        <div class="element comelse">
            <p>2018</p>
            <h3>Société Comelse (66)</h3>
            <p>
                <span>
                    Stage d'immersion en entreprise durant lequel j'ai découvert le fonctionnement
                     d'une société de développement web. J'ai principalement aidé pour l'intégration.
                </span>
            </p>       
        </div>
        <hr>

        <div class="element mds">
            <p>2016-2018</p>
            <h3>Société Mâts Drapeaux Services (59)</h3>
            <p><span>Responsable commercial B to B/B to C</span></p>
            <p>Nouveau challenge pour moi, j'étais chargé de réorganiser les méthodes administratives,
            faire évoluer le portefeuille client et le chiffre d'affaire, gérer les SAV, établir les devis,
            passer les commandes fournisseurs et lancer la production ainsi que la pose, tout en respectant 
            la deadline.            
            </p>       
        </div>
        <hr>

        <div class="element detailleur">
            <p>2000-2016</p>
            <h3>Menuiserie Ets Destailleur (59)</h3>
            <p><span>Technicien Bureau d'études et méthodes</span></p>
            <p>Mon rôle au sein de la société était la fabrication de mobilier.
            Cela commencait par l'étude du projet, l'achat des matières 
            premières, la mise en place du processus de fabrication,
            la réalisation de plan, la programmation de machine numérique(CN), ainsi que l'assemblage et la pose.                
            </p>       
        </div>
        <hr>

        <div class="element divers">
            <p>1997-2000</p>
            <div class='child_element'>
                <h3>Menuiserie Verandalys (59)</h3>
                <p><span>Menuisier aluminium</span></p>
                <p><span>Responsable de la coupe des profilés</span></p>    
            </div>
            <hr>

            <div class='child_element'>
                <h3>Service militaire (08)</h3>
                <p><span>Pilote VAB (Véhicule de l'Avant Blindé)</span></p>
                <p><span>Secouriste</span></p>
                <p><span>Transmission</span></p>                    
            </div>
            <hr>

            <div class='child_element'>
                <h3>Auchan (59)</h3>
                <p><span>Conseiller libre service</span></p>                    
            </div>
                  
        </div>

    </div>

</div>
