<div class="nav">
	<nav>
		<div id="menuToggle">
			<input type="checkbox" />

			<span></span>
			<span></span>
			<span></span>      

			<ul id='menu'>          

					<li><a (click)="scroll('identity')">IDENTITE</a></li>

					<li><a (click)="scroll('about')">A PROPOS</a></li>

					<li><a (click)="scroll('about')">REALISATIONS</a></li> 					

					<li><a (click)="scroll('competence')">COMPETENCES</a></li>
					
					<li><a (click)="scroll('experience')">EXPERIENCES</a></li>

					<li><a (click)="scroll('etude')">ETUDES</a></li>
					
					<li><a (click)="scroll('info')">INFO +</a></li>      

			</ul>
		</div>
	</nav>
</div>