
/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){
	  
	nav{               
			width:100%;	  
		a {
			text-decoration: none;
			color: var(--menu);        
			transition: color 0.3s ease;
			font-family:  var(--policetext);
			font-weight: 700;			
		}
	  
		a:hover {
			color: var(--menu);
			text-decoration: underline;					
		}
	  
		#menuToggle {
			display: block;
			position: fixed;
			width: 100%;                              
			top: 10px;
			left: 10px;						
			z-index: 2;        
			-webkit-user-select: none;
			user-select: none;
			padding:10px;
		}
	  
		#menuToggle input {        
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;					
			cursor: pointer;			
			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */			
			-webkit-touch-callout: none;
		}
	  
		/*
		* Just a quick hamburger
		*/
		#menuToggle span {
			display: block;
			width: 33px;
			height: 4px;        
			margin-bottom: 5px;
			position: relative;			
			background: var(--menu);
			border-radius: 3px;			
			z-index: 1;			
			transform-origin: 4px 0px;			
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						opacity 0.55s ease;
		}
	  
		#menuToggle span:first-child {			
			transform-origin: 0% 0%;
		}
	  
		#menuToggle span:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
	  
		/* 
		* Transform all the slices of hamburger
		* into a crossmark.
		*/
		#menuToggle input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: var(--menu);					
		}
	  
		/*
		* But let's hide the middle one.
		*/
		#menuToggle input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}
	  
		/*
		* Ohyeah and the last one should go the other direction
		*/
		#menuToggle input:checked ~ span:nth-last-child(2) {
			transform: rotate(-45deg) translate(0, -1px);
		}
	  
		/*
		* Make this absolute positioned
		* at the top left of the screen
		*/
		#menu {
			position: absolute;        
			width: 100%;
			height: 250px;
			margin: -100px 0 0 -100px;
			padding: 100px;
			padding-top: 125px;			
			background: var(--backcolor1);
			list-style-type: none;
			-webkit-font-smoothing: antialiased;
			/* to stop flickering of text in safari */			
			transform-origin: 0% 0%;
			transform: translate(-100%, );			
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
	  
		#menu li {
			padding: 10px ;
			font-size: 1.47em;
		}
	  
		/*
		* And let's slide it in from the left
		*/
		#menuToggle input:checked ~ ul {
			transform: none;			
		}
  
	}  

}
	

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

	nav{
							
		a {
			text-decoration: none;
			color: var(--menu);        
			transition: color 0.3s ease;
			font-family: var(--policetext);
			font-weight: 700;		
		}
		
		a:hover {
			color: var(--menu);
			text-decoration: underline;				
		}
		
		#menuToggle {
			display: block;
			position: fixed;
			width: 100%;                              
			top: 10px;
			left: 10px;							
			z-index: 2;        
			-webkit-user-select: none;
			user-select: none;
		}
		
		#menuToggle input {        
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;					
			cursor: pointer;			
			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */			
			-webkit-touch-callout: none;
		}
		
		/*
		* Just a quick hamburger
		*/
		#menuToggle span {
			display: block;
			width: 33px;
			height: 4px;        
			margin-bottom: 5px;
			position: relative;			
			background: var(--menu);
			border-radius: 3px;			
			z-index: 1;			
			transform-origin: 4px 0px;			
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						opacity 0.55s ease;
		}
		
		#menuToggle span:first-child {		
			transform-origin: 0% 0%;
		}
		
		#menuToggle span:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
		
		/* 
		* Transform all the slices of hamburger
		* into a crossmark.
		*/
		#menuToggle input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: var(--menu);					
		}
		
		/*
		* But let's hide the middle one.
		*/
		#menuToggle input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}
		
		/*
		* Ohyeah and the last one should go the other direction
		*/
		#menuToggle input:checked ~ span:nth-last-child(2) {
			transform: rotate(-45deg) translate(0, -1px);
		}
		
		/*
		* Make this absolute positioned
		* at the top left of the screen
		*/
		#menu {
			position: absolute;        
			width: 100%;
			height: 250px;
			margin: -100px 0 0 -100px;
			padding: 100px;
			padding-top: 125px;			
			background: var(--backcolor1);
			list-style-type: none;
			-webkit-font-smoothing: antialiased;
			/* to stop flickering of text in safari */			
			transform-origin: 0% 0%;
			transform: translate(-100%, );			
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
		
		#menu li {
			padding: 10px 0;
			font-size: 1.47em;
		}
		
		/*
		* And let's slide it in from the left
		*/
		#menuToggle input:checked ~ ul {
			transform: none;		
		}

	}	
	
}


/* 991px et plus */

@media ( min-width: 991px ){	
	
	input {
		visibility: hidden;
		
	} 

	nav{
		display:flex;
		justify-content: flex-end;
		width: 100%;  
		position: fixed;
		background: var(--backcolor0);
		border-bottom: 1px solid var(--borderColor1);
		z-index: 1;
		
		#menu{							   
			display:flex;
			justify-content: flex-end;			 
			list-style-type: none;
			height:10px;
			padding-right:20px;       
			padding-bottom:10px;       
			font-size: 20px;						   
		}
			
		ul{
			
		align-content: center;
					
			li{        
				
				margin-left:20px;
		
				a{	      	   
					text-decoration: none;
					color: var(--menu);        
					transition: color 0.3s ease;
					font-family:  var(--policetext);
					font-weight: 700;         
					//transition: color 0.5s ease;
				}
		
				a:hover {
					color: var(--menu);
					text-decoration: underline;
					cursor: pointer;					
				}
		
			}

		}

	}
	
}







