<app-nav></app-nav>
<app-identity></app-identity>
<app-about></app-about>
<app-realisations></app-realisations>
<app-technical></app-technical>
<app-experience></app-experience>
<app-studies></app-studies>
<app-infosplus></app-infosplus>
<app-footer></app-footer>

