<div id="etude" class="container">
		
	<h2>ETUDES</h2>
	
	<div class=" contain">

		<div class="element dev">
			<p>2018-2019</p>
			<h3>Titre RNCP niveau 2 (L'IDEM Le Soler)</h3>
			<p><span>Développeur web / application mobile / application hybride</span></p>					
		</div>
		<hr>

		<div class="element bts">
			<p>2000-2002</p>
			<h3>BTS productique bois (Lycée Jean-Prouvé - Lomme)</h3>
			<p><span>Bureau d'études et méthodes</span></p>					
		</div>
		<hr>

		<div class="element BAC">
			<p>1996-1998</p>
			<h3>BAC Pro productique bois (Lycée Saint-Exupéry - Halluin)</h3>
			<p><span>Option commande numérique</span></p>					
		</div>
		<hr>

		<div class="element BEP">
			<p>1994-1996</p>
			<h3>CAP-BEP Menuiserie d'agencement (Lycée Louis-Loucheur - Roubaix)</h3>
			<p><span>Menuisier atelier et poseur</span></p>								
		</div>		

	</div>

</div>
