/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: var(--backcolor0);
        width:100%;
        font-family:  Helvetica,Arial, sans-serif;

        hr{
            width:60%;
            border:solid 1px;
            color:var(--backcolor3);
        }

        a{
            color:var(--color4);
        }

        h2{
            padding:10px;
            text-align: center;
            color: var(--color1);            
            font-weight: 700;              
        }

        h3{
            margin:10px;
            color:var(--color4);
        }

        p{
            padding: 10px;
        }

        .element{
            text-align: center;
            color:var(--color4);
        }

        .element p:first-child{
            font-size: 1.33em;
            font-weight: 700;
        }

        .element p:last-child{
            margin:10px;                        
        }      
        
    }

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: var(--backcolor0);
        width:100%;
        font-family:  Helvetica,Arial, sans-serif;

        hr{
            width:60%;
            border:solid 1px;
            color:var(--backcolor3);
        }

        a{
            color:var(--color4);
        }

        h2{
            
            text-align: center;
            color: var(--color1);            
            font-weight: 700;              
        }

        h3{
            margin:10px;
            color:var(--color4);
        }

        .element{
            text-align: center;
            color:var(--color4);
        }

        .element p:first-child{
            font-size: 1.33em;
            font-weight: 700;
        }

        .element p:last-child{
            margin:10px;                        
        }      
        
    }
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top:80px;
        padding-bottom: 40px;
        background-color: var(--backcolor0);
        width:100%;
        font-family:  Helvetica,Arial, sans-serif;

        hr{
            width:60%;
            border:solid 1px;
            color:var(--backcolor3);
        }

        a{
            color:var(--color4);
        }

        h2{            
            text-align: center;
            color: var(--color1);            
            font-weight: 700;              
        }

        h3{
            margin:10px;
            color:var(--color4);
        }

        .element{
            text-align: center;
            color:var(--color4);
        }

        .element p:first-child{
            font-size: 1.33em;
            font-weight: 700;
        }

        .element p:last-child{
            margin:10px;                        
        }      
        
    }
    
}