/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;

        .flip-ecran-back {
            
            display: none;

        }

        a{
            padding: 5px 0px;

            img{

                width: 300px;
                height: auto;

            }
        }

    }
    

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container{

        display: flex;        
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;        

        .flip-ecran{

            transition: transform 0.8s;
            transform-style: preserve-3d;
            perspective: 1000px;
            margin: 20px;
            
            //retournement horizontale au passage de la souris
            &:hover{
                transform: rotateY(180deg);
            }
            

            /* Position des faces front and back */
            .flip-ecran-front, .flip-ecran-back {
                                
               backface-visibility: hidden;

            } 

            /* Style the back side */
            .flip-ecran-back {
                position: absolute;
                height: 100%;
                background-color: var(--backcolor1);
                top: 0px;
                width: 450px;
                left: 30px;                                
                transform: rotateY(180deg);
                font-family: var(--policetext);
                color: var(--color4);
                border-radius: 10px;                

                h2{
                    text-align: center;
                    font-size: 1em;
                    color: var(--color1);                  

                }

                h3,p{

                    padding-left: 20px;                                    

                }

                ul{

                    li{

                        font-style: italic;

                    }

                }
            }
            
            a{
                padding: 20px;
    
                img{
    
                    width: 400px;
                    height: auto;
    
                }
    
            }
            

        }

    }        
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 

    .container{

        display: flex;        
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        margin-top: 160px;

        .flip-ecran{

            transition: transform 0.8s;
            transform-style: preserve-3d;
            perspective: 1000px;
            margin: 20px;
            
            //retournement horizontale au passage de la souris
            &:hover{
                transform: rotateY(180deg);
            }
            

            /* Position des faces front and back */
            .flip-ecran-front, .flip-ecran-back {
                                
               backface-visibility: hidden;

            } 

            /* Style the back side */
            .flip-ecran-back {
                position: absolute;
                height: 100%;
                background-color: var(--backcolor1);
                top: 0px;
                width: 450px;
                left: 30px;                                
                transform: rotateY(180deg);
                font-family: var(--policetext);
                color: var(--color4);
                border-radius: 10px;                

                h2{
                    text-align: center;
                    color: var(--color1);                  

                }

                h3,p{

                    padding-left: 20px;                                    

                }

                ul{

                    li{

                        font-style: italic;

                    }

                }
            }
            
            a{
                padding: 20px 30px;
    
                img{
    
                    width: 450px;
                    height: auto;
    
                }
    
            }
            

        }        

    }    
        
}