<div class="container">

    <div class="flip-ecran">      
        <div class="flip-ecran-front">
            <a href="https://www.attraptemps.fr/" target="blank"><img src="./assets/images/Attraptemps-mac.png" alt=""></a>
        </div>
        <a href="https://www.attraptemps.fr/" target="blank">
          <div class="flip-ecran-back">          
              <h2>Société Attraptemps</h2>
              <h3>Objectifs</h3>
              <p>Refonte du site pour une amélioration des temps de chargement.</p>          
              <ul>
                <li>Wordpress</li>
                <li>Plugin Acf</li>
                <li>Javascript</li>
                <li>Jquery</li>
                <li>php 7</li>
                <li>semantic UI</li>
              </ul>         
          </div>
        </a>      
    </div> 
   
</div>
