

/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-top: 10px;              
        padding-bottom: 40px;
        background-color: var(--backcolor3);
        width:100%;
        font-family:  var(--policetext);             
        
        .contain { 
            display: flex;
            flex-direction: column;           
            justify-content: center;
            align-items: center;                                          
            color: var(--color0);
            
            ul {
                padding:0px;
                text-align: center;
            }
            
            
            li{
                list-style-type: none;
            }

        }

        .frameworks, .technologies, .autres{
            color: var(--color0);            
        }
        
        h2{  
                     
            text-align: center;
            margin: 0px;
            padding:10px;           
            font-family:  var(--policetext);            
            color: var(--color0); 
                    
        }

    }

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        background-color: var(--backcolor3);
        width:100%;
        font-family: var(--policetext);
        
        .contain{
            display: flex;
            color: var(--color0);
            margin-left:40px;            

            h3 {
                padding-right: 40px;
            }
                        
            li{
                list-style-type: none;
            }

        }

        
        .frameworks, .technologies, .autres{
            display: flex;
            justify-content: flex-end;
            color: var(--color0);
            margin-right:40px;
        }

        .langages, .cms, .patterns{            
            color: var(--color0);
        }
        
        h2{            
            text-align: center;
            color: var(--color0);
            font-family:  var(--policetext);
            font-weight: 700;         
        }

    } 
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 40px;
        top: 80px;
        background-color: var(--backcolor3);
        width:100%;
        font-family: var(--policetext);
        
        .contain{
            display: flex;            
            color: var(--color0);
            margin-left:40px;       

            h3 {
                padding-right: 40px;
            }
                        
            li{
                list-style-type: none;
            } 

        }


        
        .frameworks, .technologies, .autres{
            padding-right: 10%;
            display: flex;
            justify-content: flex-end;
            color: var(--color0);
            margin-right:40px;
        }

        .langages, .cms, .patterns{
            padding-left: 10%;            
        }
        
        h2{            
            text-align: center;
            color: var(--color0);
            font-family:  var(--policetext);
            font-weight: 700;         
        }

    }
    
}