<div id="competence" class="container">
	
	<h2>COMPETENCES TECHNIQUES</h2>	

	<div class="langages contain">
		<h3>Langages</h3>
		<ul>
			<li>HTML 5 /CSS 3</li>
			<li>PHP Objet / My SQL</li>
			<li>Javascript Objet</li>
			<li>Typescript</li>
		</ul>
	</div>		

	<div class="frameworks contain">
		<h3>Frameworks</h3>
		<ul>
			<li>Laravel</li>
			<li>Angular IO</li>
			<li>Jquery</li>
			<li>Ionic (notions)</li>
			<li>Bootstrap</li>
			<li>Semantic UI</li>
		</ul>
	</div>

	<div class="cms contain">
		<h3>CMS</h3>
		<ul>
			<li>Wordpress</li>			
			<li>ACF ( plugin )</li>			
		</ul>
	</div>

	<div class="technologies contain">
		<h3>Technologies</h3>
		<ul>
			<li>Gulp</li>
			<li>Webpack</li>
			<li>LaravelMix</li>
			<li>Node.js</li>
			<li>Git</li>
			<li>GitLab</li>
		</ul>
	</div>

	<div class="patterns contain">
		<h3>Patterns</h3>
		<ul>
			<li>MVC</li>
			<li>Repository</li>
			<li>Singleton</li>
			<li>Factory</li>
		</ul>
	</div>

	<div class="autres contain">
		<h3>Autres</h3>
		<ul>
			<li>MobileFirst</li>
			<li>Responsive</li>
			<li>API</li>
			<li>UX Design (notions)</li>
			<li>UML</li>
		</ul>
	</div>
	
</div>
