

/* ** MEDIA QUERIES ** */
/* 600px et plus */
@media ( max-width: 768px ){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;        
        position: relative;
        background-color: var(--backcolor1);        
        width:100%;

        h1 { 
            margin-top:50px;               
            text-align: center;
            padding:10px;
            color: var(--color1);
            font-family:  var(--policetext);
            font-weight: 700;
            font-size: 2em;                
        }

        .social{
           visibility: hidden;                
        }
        
        .identity {
            margin-top: -10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:10px;     
        
            img {
                width: 60%;
                height: auto;
                border-radius: 50%;                
                overflow:hidden;
            }

            p {
                font-style: italic;
                font-size: 1em;
                color: var(--color1);
            }
    
        }

        .informations {
            background-color: var(--backcolor0);
            color: var(--color1);
            margin: 0px;
            padding: 10px;
            font-family:  Helvetica,Arial, sans-serif;

            .mail a:link{                    
                color: var(--color1);
            }

            h4 {
                margin: 0px;
                font-size: 1.5em;                
                font-weight: 700;
            }

            h5 {
                padding-top:10px;
                margin: 0px;
                font-size: 1em;            
                font-weight: 700;
            }

            p {
                margin: 0px;
                font-size: 1em;                                 
            }

            .locomotion{
                padding-top: 10px;
            }

        }

    }    

}
    

/* Entre 768px et 991px */
@media ( min-width: 768px ) and ( max-width: 991px){

    .container {
        display: flex;
        flex-direction: column;        
        position: relative;
        background-color: var(--backcolor1);
        align-items: center; 
        
        h1 { 
            margin-top:50px;               
            text-align: center;
            color: var(--color1);
            font-family:  var(--policetext);
            font-weight: 700;
            font-size: 2em;                
        }

        .social{
            position:absolute;
            top: 50%;
            display: flex;
            flex-direction: column;                      
            left: 0.5%;
            
            a{
                margin:10px;
            }

        }

        .block_info {
            display:flex;
            align-content: center;                        
            margin-top: 10px;                      
            margin-bottom: 35px;                      

            .identity {   
                display: flex;
                flex-direction: column;           
                align-items: center;
                color: var(--color1);                                           
                        
                img {
                    width: 300px;
                    height: 300px;                
                    overflow:hidden;
                    margin:0px;                                    
                }
    
                p {
                    width: 300px;
                    font-style: italic;
                    font-size: 1em;                    
                    margin:0px;                    
                }
        
            }
    
            .informations {
                
                background-color: var(--backcolor3);
                color: var(--color0);
                margin: 0px;                
                padding: 10px;                
                font-family:  var(--policetext);
                border-left: 5px solid var(--color0);
                width: 300px; 

                .mail a:link{                    
                    color: var(--color0);
                }
    
                h4 {
                    margin: 0px;                    
                    font-size: 1.5em;                
                    font-weight: 700;
                }
    
                h5 {
                    padding-top:10px;                    
                    margin: 0px;
                    font-size: 1em;            
                    font-weight: 500;
                }
    
                p {
                    padding-right: 105px;
                    margin: 0px;
                    font-size: 1em;                                                    
                }

                .locomotion{
                    padding-top: 10px;
                }
    
            }

        }

    }    
    
}


/* 991px et plus */

@media ( min-width: 991px ){ 
    
    .container {  
        display: flex;
        flex-direction: column;        
        position: relative;
        top:80px;                
        align-items: center;
        height: 750px;
        width: 100%;   
        background-size: cover;       
                
        h1 { 
            margin-top:50px;               
            text-align: center;
            color: var(--color1);
            font-family:  var(--policetext);
            font-weight: 700;
            font-size: 2.5em;                           
        } 

        .social{
            position:absolute;
            top: 50%;
            display: flex;
            flex-direction: column;                      
            left: 0.5%;
            
            a{
                margin:10px;
            }
                
        }

        .block_info {
            display:flex;                                              
            margin-top: 100px;                                 
            margin-bottom: 35px;                   
        
            .identity {   
                display: flex;
                flex-direction: column;           
                align-items: center;                                           
                        
                img {
                    width: 300px;
                    height: 300px;                
                    overflow:hidden;
                    margin:0px;                
                }
    
                p {
                    width: 300px;
                    font-style: italic;
                    font-size: 1em;
                    color: var(--color2);
                    margin:0px;                    
                }
        
            }
    
            .informations {                
                background-color: var(--backcolor3);
                color: var(--color0);
                margin: 0px;                
                padding: 10px;                
                font-family: var(--policetext);
                border-left: 5px solid var(--color0);
                width: 300px; 

                .mail a:link{                    
                    color: var(--color0);
                }
    
                h4 {
                    margin: 0px;                    
                    font-size: 1.5em;                
                    font-weight: 700;
                }
    
                h5 {
                    padding-top:10px;                    
                    margin: 0px;
                    font-size: 1em;            
                    font-weight: 500;
                }
    
                p {
                    padding-right: 105px;
                    margin: 0px;
                    font-size: 1em;                                 
                }

                
                .locomotion{
                    padding-top: 10px;
                }
    
            }

        }

    }
        
}