<div id="identity" class="container">

	<div class="animated fadeIn">
		<h1>Développeur web, web application, application hybride.</h1>	
	</div>

	<div class="social">
		<a href="https://www.linkedin.com/in/vales-mikael-408252120" target="_blank"><i class="fab fa-linkedin fa-3x" style="color:#3f51b5"></i></a>
		<a href="https://www.facebook.com/donnie.lee.14418" target="_blank"><i class="fab fa-facebook-square fa-3x" style="color:#3f51b5"></i></a>
	</div>

	<div class="block_info">

		<div class="identity animated fadeInLeft">
			<img src="./assets/images/myAvatar.png" alt="">
			<p>"Qui veut progresser doit apprendre à vaincre son orgueil et à demander aux autres."<br> 
				Citation de Henri-Frédéric Amiel (1852)</p>
		</div>

		<div class="informations animated fadeInRight">
			<h4>Mikaël VALES</h4>

			<div>
				<h5>Age:</h5>
				<p>41 ans</p>
			</div>

			<h5>Adresse:</h5>
			<p>8 rue Lucie Aubrac, 66570 Saint-Nazaire</p>
	
			<h5>Tél portable:</h5>
			<p>06.51.08.01.07</p>
	
			<h5>E-mail:</h5>

			<div class="mail">
				<a href="mailto:valesmikael@gmail.com">valesmikael@gmail.com</a>
			</div>
			

			<div class="locomotion">
				<p>Permis B + véhicule</p>	 
			</div>
			
		</div>

	</div>
	
</div>
